@import "../../helpersSCSS/Container";

.team {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
  min-height: 100%;

  .team__inner {
    display: flex;
    justify-content: center;

    .team__item {
      width: 33.33333%;
      height: 250px;
      text-align: center;
      position: relative;
      margin: 0 15px;

      .team__photo {
        max-width: 100%;
        height: 250px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }

      .team__link {
        width: 100%;
        height: 100%;
      }

      .team__name {
        color: #555555;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        padding-top: 10px;
      }

      .team__prof {
        color: #555555;
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;
      }

      .team__content {
        width: inherit;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        transition: opacity 0.3s linear;
        cursor: pointer;

        @import "../../helpersSCSS/Social";

        &:hover {
          opacity: 1;
        }

      }

    }

    @extend .container

  }



}




