@import "../../helpersSCSS/Container";

.Recent {
  margin-top: 70px;
  width: 100%;

  .recent__inner {
    width: 100%;

    .stick__content {
      max-width: 1140px;
      height: 1px;
      background-color: #dddddd;
      margin-bottom: 50px;
    }

    .recent__item {
      display: flex;
      margin: 0 0 50px 0;

      .recent__img {
        max-width: 460px;
        height: 360px;

        & img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
          object-position: 50% 50%;
        }

      }


      .recent__content {
        width: 50%;
        display: flex;
        flex-direction: column;

        position: relative;
        margin-left: 50px;

        .main__title {
          display: flex;
          justify-content: space-between;


          .oct {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 76px;
            height: 76px;
            padding: 10px;
            border: 2px solid #555555;
            margin-bottom: 23px;

            font-size: 24px;
            font-weight: 700;
            color: #777777;
            line-height: 20px;
            font-family: 'Montserrat', sans-serif;
          }

          .oct__style {
            font-style: normal;
            letter-spacing: 1.4px;
            font-size: 14px;
            font-weight: 700;
            color: #777777;
            line-height: 20px;
            font-family: 'Montserrat', sans-serif;
          }

          .recent__title {
            padding-right: 160px;
            color: #c0301c;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;


          }

          .recent__subtitle {
            padding: 19px 0 0;
            color: #c0301c;
            font-size: 13px;
            font-weight: 400;
            font-style: italic;
            line-height: 24px;
            font-family: 'Roboto Slab', serif;
            text-transform: none;
          }

          .subtitle__style {
            color: #777777;
          }

        }

        .recent__text {
          color: #555555;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    @extend .container
  }


}