@import "../../helpersSCSS/Container";

.about {
  .about__item {
    display: flex;
    margin: 70px 0;

    .about__text {
      width: 50%;
      padding: 0 17px;
    }
  }


  @extend .container
}

@media (max-width: 720px) {
 .about .about__item {
   text-align: center;
   flex-direction: column;
 }
  .about .about__item .about__text {
    width: 100%;
    margin-top: 20px;
  }
}




